*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
    height: 100%;
    color: white;
}
body{
    background-image: url(images/backgroundImage);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}



/*universal style*/
.section-container{
    max-width: 1980px;
    margin: auto;
}
.container{
    max-width: 1280px;
    margin: auto;
}
.column{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



/*nav*/
header{
    position: sticky;
    top: 0;
    background-color: rgba(0,0,0,0.3);
}
nav{
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
}
nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
nav li{
    padding: 15px;
}
nav ul a{
    display: block;
    text-decoration: none;
    color: inherit;
}
nav .titlelogo{
    margin-left: auto;
    text-align: right;
}
nav .titlelogo a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    color: #dc3d23;
}

/*sectionOne*/
.section-One{
    background-image: url(images/sectionOneImage.2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 653px;
    padding: 0px 90px;
    margin: 15px 0px;
    margin-bottom: 60px;
}
.section-One .column > div{
    flex: 1;
    margin-top: 32%;
}
.section-One .column div h1{
    font-size: 420%;
}
.section-One .column > .personal{
    flex: 2;
/*    visibility: hidden;*/
}
.section-One .column > .qoute{
    display: flex;
    flex-direction: row;
    text-align: right;
    font-size: 18px;
}
.section-One .column i{
    font-size: 50px;
    padding: 5px;
    margin-left: 15px;
}

/*sectionTwo*/
.section-Two-backgroundColor{
    background-color: black;
}
.section-Two{
    padding: 100px 0px;
}
.section-Two .column .page{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(images/backgroundImageforDivPages.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 60px;
}
.section-Two .column .page > h4, h3{
    padding: 0px;
}
.section-Two .column > div:not(.page){
    flex: 1;
    margin-right: 10px;
    border-left: solid 3px grey;
    padding: 50px 30px;
    cursor: pointer;
}
.section-Two .column h4{
    padding-bottom: 20px;
}
.section-Two .column h1{
    font-size: 3em;
    padding-bottom: 60px;
}
.section-Two .column p{
    line-height: 25px;
    padding: 25px 0px;
    color: grey;
}
.section-Two .column button{
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 100px;
    outline: none;
    border: none;
    cursor: pointer;
    color: orangered;
}
.section-Two .column button:hover{
    color: black;
}
.section-Two .column > div:hover:not(.page){
    background-image: url(images/backgroundImageforDiv.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/*sectionThree*/
.section-Three{
    background-image: url(images/sectionThreeImage.2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0px 90px;
    margin-bottom: 60px;
}
.section-Three .column > div{
    flex: 1;
    margin-top: 40%;
}
.section-Three .column div h1{
    font-size: 420%;
}
.section-Three .column > .personal{
    flex: 2;
/*    visibility: hidden;*/
}
.section-Three .column > .personal article{
    padding: 20px 0px;
    line-height: 30px;
}
.section-Three .column > .qoute{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 18px;
    line-height: 25px;
}
.section-Three .column > .qoute p{
    font-size: 15px;
}

/*sectionFour*/
.section-Four-backgroundColor{
    background-color: black;
}
.section-Four{
    padding: 100px 0px;
}
.section-Four .column{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.section-Four .column > .testimonials{
    background-image: url(images/backgroundImageforDivPages.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    width: 29%;
    padding-left: 60px;
    padding-top: 80px;
}
.section-Four .column .row{
    flex: 2;
}
.section-Four .column .row h1{
    font-size: 420%;
}
.section-Four .column .row > div:not(.title){
    border-top: solid 3px grey;
}
.section-Four .column .row div{
    padding: 20px;
}
.section-Four .column .row .comment:hover{
    cursor: pointer;
    background-color: #272525;
}
.section-Four .column .row .One .rating-star .checked{
    color: #dc3d23;
}
.section-Four .column .row .Two .rating-star .checked{
    color: #dc3d23;
}
.section-Four .column .row .Three .rating-star .checked{
    color: #dc3d23;
}
.section-Four .column .row .comment .person{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.section-Four .column .row .comment .person img{
    width: 80px;
}



/*sectionFive*/
.section-Five{
    background-image: url(images/sectionFiveImage.1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0px;
}
.section-Five .column{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.section-Five .column > .results{
    width: 29%;
    padding-left: 60px;
    padding-top: 80px;
}
.section-Five .column .results-images{
    flex: 2;
}
.section-Five .column .results-images .title{
    width: 65%;
}
.section-Five .column .results-images h1{
    font-size: 420%;
}
.section-Five .column .results-images .title{
    padding: 20px;
}
.section-Five .column .results-images .thumbnails{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
}
.section-Five .column .results-images .thumbnails img{
    padding: 6px;
}


/*sectionSix*/
.section-Six{
    background-color: black;
    padding: 100px 0px;
}
.section-Six .column{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.section-Six .column .faq{
    width: 29%;
    padding-left: 60px;
    padding-top: 80px;
}
.section-Six .column .faq-list{
    flex: 2;
}
.section-Six .column .faq-list h1{
    font-size: 420%;
}
.section-Six .column .faq-list .title{
    width: 67%;
    padding: 20px;
}
.section-Six .column .faq-list .btn{
    padding: 50px 0px;
}
.section-Six .column .faq-list .accordion{
    background-color: #272525;
    color: inherit;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    text-align: left;
    border: solid 2px #3c3838;
    outline: none;
    font-size: inherit;
    font-weight: bold;
    transition: 0.4s;
}
.section-Six .column .faq-list button span{
    display: inline-block;
    padding: 0px 10px;
}
.section-Six .column .faq-list button .disable{
    display: none;
}
.section-Six .column .faq-list .panel p{
    padding: 30px 0px;
    color: #9a9393;
}
.section-Six .column .faq-list .panel{
    width: 100%;
    padding: 0px 18px;
    background-color: #272525;
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease-out;
}



/*sectionSix*/
.section-Seven{
    padding: 100px 0px;
}
.section-Seven .column{
    display: flex;
    flex-direction: row;
    justify-content: flex-start
}
.section-Seven .column .contact{
    width: 29%;
    padding-left: 60px;
    padding-top: 80px;
}
.section-Seven .column .form{
    flex: 2;
    display: flex;
}
.section-Seven .column .form .title{
    width: 65%;
}
.section-Seven .column .form h1{
    font-size: 420%;
}
.section-Seven .column form{
    padding: 50px 0px;
    width: 100%;
}
.section-Seven .column form > div{
    padding: 10px 0px;
}
.section-Seven .column form .name{
    display: flex;
    flex: row;
    justify-content: space-between;
}
.section-Seven .column form input[type=text], input[type=email]{
    width: 48%;
    font-size: inherit;
    padding: 15px 10px;
    outline: none;
}
.section-Seven .column form input[type=email]{
    width: 100%;
    outline: none;
}
.section-Seven .column form textarea{
    width: 100%;
    font-size: inherit;
    padding: 15px 10px;
    height: 150px;
    outline: none;
}
.section-Seven .column .btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.section-Seven .column form button{
    width: 20%;
    font-size: inherit;
    padding: 15px 10px;
    outline: none;
    margin-left: auto;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    background-color: #dc3d23;
    color: white;
}
.section-Seven .column .social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 50px;
}
.section-Seven .column .social label{
    color: gray;
}
.section-Seven .column .social > div{
    padding: 10px 0px;
}
.section-Seven .column .social i{
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
    color: #651d27;
}
.section-Seven .column .social i:hover{
    color: red;
}







